
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light gray background */
  }
  
  header {
    background-color: #33333304; /* Dark gray header */
    color: #fff; /* White text */
    padding: 1em;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #337ab7; /* Blue link color */
    text-decoration: none;
  }
  
  section {
    padding: 2em;
    background-color: #fff; /* White section background */
    border-bottom: 1px solid #ddd; /* Light gray border */
  }
  
  h1, h2, h3 {
    color: #333; /* Dark gray heading color */
  }
  
  footer {
    background-color: #333; /* Dark gray footer */
    color: #fff; /* White text */
    padding: 1em;
    text-align: center;
    clear: both;
  }
  
  /* Add some classic colors to the projects section */
  #projects {
    background-color: #f7f7f7; /* Light gray background */
  }
  
  #projects h2 {
    color: #0088cc; /* Blue heading color */
  }
  
  #projects li {
    background-color: #fff; /* White list item background */
    padding: 1em;
    border-bottom: 1px solid #ddd; /* Light gray border */
  }
  
  #projects li:hover {
    background-color: #f0f0f0; /* Light gray hover background */
  }

  .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Optional: adds a circular border */
    margin: 20px; /* Optional: adds some margin around the image */
  }